

:root {
  --main-bg: #FFF8F0;
  --accent-bg: #FDE5BC;
  --yellow: #F9E79C;
  --yellow-doré:#E8C27A;
  --yellow-doré-hover:#AD966C;
  --yellow-doux:#F4E9D8;
  --navbar:#F4E9D8;
  --yellow-sable-foncé:#DBC5A3;
  --light-green:#E5F5E0; /*jardin*/
  --blue: #2B487D; /*ecritures,titres etc*/
  --soft-gray: #F5F5F7;
  --card-bg: #FFFFFFAA;
  --grey-charbon:#333333;
  --grey-cl:#666666;
  --btn-active:#FDE68A;
  

  --shadow: 0 4px 12px rgba(0,0,0,0.07);
  --primary-font:  'Open Sans', sans-serif;
  --title-font: 'Roboto', sans-serif;
  --nav-logo-text :"Lobster Two", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: "Open Sans", sans-serif;
min-height: 100vh;
}

nav {
  background-color:#F4E9D8;
  border-bottom: 2px solid #F4E9D8;
  padding: 1rem 2rem;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:var(--nav-logo-text);
}
.logo{
  display:flex;
  align-items: center;
  gap: 0.5rem;
}
.logo-img{
  font-size:2rem;
  width: 40px;
  height: 40px;    
  object-fit: contain;

}
.logo-text{
  color:var(--blue);
  font: weight 600px;
  font-size:1.2rem ;
}
.nav-links{
  display:flex;
  gap:1.5rem;

}

.nav-btn{

  background: none;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color:var(--blue);
  font-size: 1rem;
  transition: all 0.3s;
}
.btn-nav:hover{
  background-color: var(--yellow-doré-hover);
}
.nav-btn-active{
  background-color:var(--btn-active) ;
  color:#78350f ;
  font-weight: 600;
}
/*.page{
  display: none;
  padding:3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.page-active{
  display: block;
}*/
.accueil-content{
  text-align: center;
  padding-top: 3rem;
  position: relative;
  background-image: url('images/background\ 1920x1080.svg');
  
}

.accueil-content h1{
  font-size: 2.8rem;
  color: var(--blue);
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}
.accueil-content h2{
  font-size: 2.8rem;
  color: var(--blue);
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.subtitle{
  font-size: 1.3rem;
  color: var(--blue);
  margin-bottom: 3rem;
  line-height: 1.6;
  font-weight:400 ;

}
.btn-primary{
  background-color: var(--btn-active);
  color: var(--grey-charbon);
  border: none;
  padding: 1.2rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 0.75rem;
  cursor: pointer;
  box-shadow:0 4px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ;
  margin-bottom: 3rem;
}
.btn-primary :hover{
  background-color: var(--yellow-doré-hover);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
.timer-asteroid{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
}


.todo-content{
  max-width: 700px;
  margin: 0 auto;
  padding-top:2rem ;

}
 .todo-header{
  text-align: center;
  margin-bottom: 3rem;
  background: linear-gradient(135deg,#BFDBFE);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12 rgba(0,0,0,0.1);
 }
 .todo-header h1{
  font-size:2rem;
  color: var(--grey-cl);
 }
