

:root {
  --main-bg: #FFF8F0;
  --accent-bg: #FDE5BC;
  --yellow: #F9E79C;
  --yellow-doré:#E8C27A;
  --yellow-doré-hover:#AD966C;
  --yellow-doux:#F4E9D8;
  --navbar:#F4E9D8;
  --yellow-sable-foncé:#DBC5A3;
  --light-green:#E5F5E0; /*jardin*/
  --blue: #2B487D; /*ecritures,titres etc*/
  --soft-gray: #F5F5F7;
  --card-bg: #FFFFFFAA;
  --grey-charbon:#333333;
  --grey-cl:#666666;
  --btn-active:#FDE68A;
  --garden:rgb(192, 221, 192);
  

  --shadow: 0 4px 12px rgba(0,0,0,0.07);
  --primary-font:  'Open Sans', sans-serif;
  --title-font: 'Roboto', sans-serif;
  --nav-logo-text :"Lobster Two", sans-serif;
}

body.dark-mode {
  --main-bg: #0b1020;
  --accent-bg: #1b2236;
  --yellow: #F9E79C;
  --yellow-doré:#E8C27A;
  --yellow-doré-hover:#AD966C;
  --yellow-doux:#2d3040;
  --navbar:#151a2b;
  --yellow-sable-foncé:#44475a;
  --light-green:#16352a;
  --blue: #a0ccff;         
  --soft-gray: #202538;
  --card-bg: #1a1f33ee;
  --grey-charbon:#E5E5E5;
  --grey-cl:#B0B5C5;
  --btn-active:#3b4260;
  --shadow: 0 8px 16px rgba(10, 9, 9, 0.6);
   --garden:rgb(93, 124, 93);
}
 
 .theme-toggle {
  margin-left: 0.625rem;
  background: none;
  border: 1px solid var(--blue);
  border-radius: 62.438rem;
  padding: 0.25rem 0.625rem;
  font-size: 0.9em;
  color: var(--blue);
  cursor: pointer;
}

.theme-toggle:hover {
  background: var(--btn-active);
}



body {
  background: var(--main-bg);
  font-family: var(--primary-font);
  color: var(--grey-charbon);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.background-svg {
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.20;
  pointer-events: none;
}

.accueil-bg {
  background-image: url('images/background\ 1920x1080.svg');
}

.timer-bg {
  background-image: url('images/background-sans\ 1920x1080.svg');
}

nav {
  background: var(--navbar);
  box-shadow: var(--shadow);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 56.25rem;
  margin: 0 auto;
  padding: 1.125rem;
}

.logo-img {
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.625rem;
}

.logo-text {
  font-family: var(--nav-logo-text);
  color: var(--blue);
  font-size: 2em;
  letter-spacing: 2px;
}

.nav-links {
  display: flex;
  gap: 1em;
}

.nav-btn {
  background: none;
  border: none;
  font-size: 1.1em;
  color: var(--blue);
  padding: 6px 18px;
  border-radius: 7px;
  cursor: pointer;
  transition: background 0.18s;
}

.nav-btn.active,
.nav-btn:focus {
  background: var(--btn-active);
  font-weight: bold;
}


.page {
  display: block;
  margin-bottom: 3.75rem; 
}


.accueil-content {
  text-align: center;
  margin: 5rem 0 0 0;
}

.subtitle {
  color: var(--grey-cl);
  font-size: 1.1em;
  margin-bottom: 2.188rem;
}

.btn-primary {
  background: var(--yellow-dore);
  color: var(--blue);
  border: none;
  border-radius: 1.5rem;
  font-family: var(--title-font);
  font-size: 1.15em;
  padding:0.875rem 2.125rem;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: background .2s;
  font-weight: bold;
}

.btn-primary:hover,
.btn-primary:focus {
  background: var(--yellow-dore-hover);
}

h1, h2 {
  font-family: var(--title-font);
  color: var(--blue);
  margin-top: 0.6em;
  margin-bottom: 0.2em;
}

.welcome{
  font-size: 1.3em;
  font-weight: normal;
  color: var(--grey-cl);
}
.welcome-prince{
 width:3.125rem;
  margin: 1.5rem auto;
  display: block;

}
.timer-header {
  text-align: center;
  margin-bottom: 1.875rem; 
}

.timer-header h1 {
  text-align: center;
  margin-top: 0.6em;
  margin-bottom: 0.2em;
}



.timer-content {
  background: var(--card-bg);
  border-radius: 1.125rem;
  padding: 2.125rem 1.563rem;
  margin: 3.75rem auto 2.5rem auto;
  box-shadow: var(--shadow);
  max-width: 1/1;
  
}

.timer-asteroid-container {
  position: relative;
  width: 18.75rem;
  height: 18.75rem;
  margin: 1.875rem auto;
}
.timer-asteroid {
  width: 100%;
  height: 100%;
  display: block;
}
.timer-display-on-asteroid {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.4em;
  font-weight: bold;
  color: var(--blue);
  text-shadow: 0 2px 8px rgba(0,0,0,0.12);
  pointer-events: none;
}


.duration-buttons {
  display: flex;
  justify-content: center;
  gap: 0.938rem;
  margin-bottom: 2.188rem;
}

.duration-btn {
  background: var(--yellow-doux);
  border: none;
  border-radius:0.875rem;
  font-size: 1em;
  padding: 0.875rem 1.5rem;
  cursor: pointer;
  font-family: var(--primary-font);
  color: var(--blue);
  transition: background 0.18s, color 0.18s;
}


.duration-btn.selected,
.duration-btn:focus {
  background: var(--yellow-dore);
  color: var(--blue);
  font-weight: bold;
}
.btn-important {
  background: var(--blue);
  color: #fff !important;
  border: 2px solid var(--yellow-dore);
  border-radius: 0.875rem;
  font-size: 1.33em;
  box-shadow: 0 2px 8px rgba(43, 72, 125, 0.13);
  font-weight: bold;
  letter-spacing: 1px;
  transform: scale(1.05);
  transition: background .22s, color .16s, transform .16s;
  cursor: pointer;
}

.btn-important:hover,
.btn-important:focus {
  background: var(--yellow-dore);
  color: var(--blue) !important;
  border-color: var(--blue);
  transform: scale(1.12);
  box-shadow: 0 2px 18px rgba(235, 183, 81, 0.15);
}
.icon-btn {
  width: 1.5em;     
  height: auto;
  margin-right: 8px; 
  vertical-align: middle;
}
.timer-display-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.563rem;
  margin-bottom: 2rem;
}

.timer-circle {
  background: var(--accent-bg);
  border-radius: 50%;
  width: 6.875rem;
  height:6.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
}

.timer-display {
  font-size: 2.4em;
  font-weight: bold;
  color: var(--blue);
}

.timer-decoration {
  font-size: 2em;
}

.timer-message {
  text-align: center;
  background: var(--light-green);
  color: var(--blue);
  border-radius: 0.563rem;
  padding: 0.875rem 0;
  margin-top: 1.125rem;
  font-size: 1.2em;
  box-shadow: var(--shadow);
}


.timer-controls {
  display: flex;
  justify-content: center;
  gap: 13px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .timer-controls .btn-important,
  .timer-controls .btn-reset {
    font-size: 0.80rem;
    padding: 0.25rem 0.5rem;
    min-width: 5.938rem;
  }
}

.control-btn {
  background: var(--yellow-doux);
  color: var(--blue);
  border: none;
  border-radius: 14px;
  font-size: 1em;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  transition: background .18s, color .18s;
}

.control-btn:hover,
.control-btn:focus {
  background: var(--yellow-dore);
  color: var(--blue);
  font-weight: bold;
}


.todo-content {
  margin: 4.375rem 0;
  background: var(--card-bg);
  border-radius: 1.125rem;
  padding: 2.125rem ;
  box-shadow: var(--shadow);
  position: relative;
}

.todo-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.todo-icon {
  font-size: 2.2em;
  margin-bottom: 7px;
}

.todo-input-section {
  margin-bottom: 1.5rem;
}

.todo-input-label {
  display: block;
  margin-bottom: 7px;
  font-weight: bold;
}

.todo-input-container {
  display: flex;
  gap: 0.625rem;
}

.todo-input {
  flex: 1;
  padding: 0.625rem 0.75rem;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid var(--blu--yellow-sable-fonce);
  background: var(--soft-gray);
}

.btn-add {
 background: var(--yellow-doux);
  border: none;
  border-radius: 14px;
  font-size: 1em;
  padding: 0.875rem 1.5rem;
  cursor: pointer;
  font-family: var(--primary-font);
  color: var(--blue);
  transition: background 0.18s, color 0.18s;
}
.btn-add:hover,
.btn-add:focus {
  background: var(--yellow-dore-hover);
}

.todo-list {
  margin-top:1.125rem;
  padding: 0;
  list-style: none;
}

.todo-empty {
  text-align: center;
  margin-top: 1.5rem;
  color: var(--blue);
}

.todo-empty-icon {
  font-size: 2em;
  margin-bottom: 6px;
}


.jardin-content {
  margin: 70px 0;
  background: var(--card-bg);
  border-radius: 1.125rem;
  padding: 2.125rem 1.563rem;
  box-shadow: var(--shadow);
  text-align: center;
}

.rose-container {
  margin: 24px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.jardin-empty {
  text-align: center;
  color: var(--blue);
  margin-top: 28px;
}

.jardin-empty-icon {
  font-size: 2.4em;
  margin-bottom: 7px;
}

.btn-delete {
  color: var(--yellow-doré);          
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1em;    
}

.timer-mini-panels {
  display: flex;
  gap: 0.75rem;
  margin-top: 1rem;         
  justify-content: space-between;
  flex-wrap: wrap;
}

.mini-todo,
.mini-garden {
  flex: 1 1 40%;            
  background: var(--card-bg);
  border-radius: 8px;
  padding: 8px 10px;       
  box-shadow: var(--shadow);
  font-size: 0.8em;
  text-align: left;
}

.mini-todo {
  position: relative;
  background: #ebe4aac5;     
  box-shadow: 0 4px 8px rgba(0,0,0,0.12); 
}

.mini-todo::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 2.5rem;
  height: 10px;
  background: rgba(196, 193, 193, 0.7);
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.mini-todo h3,
.mini-garden h3 {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 0.9em;
  color: var(--grey-charbon);
}

#miniTodoList {
  list-style: none;
  padding: 0;
  margin: 4px 0 0 0;
}
#jardin {
  background-color:rgb(192, 221, 192);
}

#miniRoseContainer .rose-item {
  font-size: 1.5em;
  margin: 2px;
  
}
#miniRoseContainer {
  background-color:var(--garden);
}
@media (max-width: 768px) {
  .timer-mini-panels {
    display: none;  
  }
}


.timer-controls {
  display: flex;
  justify-content: center;
  gap: 0.813rem;
  margin-top: 1.25rem;
  margin-bottom: 8px;  
}

.burger-btn {
  display: none;
  background: none;
  border: none;
  font-size: 1.8em;
  color: var(--blue);
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 3.75rem;
    right: 0;
    background: var(--navbar);
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 16px;
    gap: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: none;          
  }

  .nav-links.open {
    display: flex;          
  }

  .burger-btn {
    display: block;          
  }

  .nav-container {
    position: relative;      
  }
}

.site-footer {
  text-align: center;
  padding: 1rem 0.75rem 1.5rem;
  color: var(--grey-cl);
  font-size: 0.9em;
}

.site-explanation {
  max-width: 50rem;
  margin: 0.75rem auto 1.25rem auto;
  padding: 0.75rem 1rem;
  background: var(--card-bg);
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  font-size: 0.95em;
  color: var(--grey-charbon);
  display: none; 
}
@media (max-width: 768px) {
  .site-explanation {
    position: relative;
    top: 0.938rem;
    right: 0;
    background: var(--card-bg);
    flex-direction: column;
    align-items: flex-start;
    padding: 0.625rem 1rem;
    gap: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: none;          
  }
}

.about-me-header {
  max-width: 900px;
  margin: 8px auto 0 auto;
  padding: 0.625 0.875rem;
  background: var(--card-bg);
  border-radius: 12px;
  box-shadow: var(--shadow);
  font-size: 0.9em;
  color: var(--grey-charbon);
  display: none; /
}


@media (max-width: 768px) {
  .about-me-header {
    top:3.75rem;
    background: var(--card-bg);
    flex-direction: column;
    align-items: flex-start;
    padding: 0.75rem 1.5rem;
    gap: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: none;          
  }
}
.contenair-1290{
    max-width: 80.625rem;
    margin: 0 auto;     
    padding: 0 16px;     
  }



/* https://dev.to/devcorner/how-to-fetch-api-using-axios-in-javascript-with-code-examples-369c
https://www.youtube.com/watch?v=ubw2hdQIl4E /*