* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url('images/background\ 1920x1080.svg');
  min-height: 100vh;
color: #2B487D;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 57px; 
letter-spacing: 0.96px;
}

nav {
  background-color:#F4E9D8;
  border-bottom: 2px solid #F4E9D8;
  padding: 1rem 2rem;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lobster Two", sans-serif;
}
@media (max-width: 700px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
  }
}
h1,h2{
  font-family:"Roboto", sans-serif;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 144%;
  letter-spacing: 1.92px;
}


:root {
  --main-bg: #FFF8F0;
  --accent: #EAB88B;
  --rose: #D72660;
  --title-font: 'Lobster', cursive;
  --body-font: 'Open Sans', sans-serif;
}
